<div class="container">
  <h3> Signup Form</h3>
  <br/>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>
        Employee Id:
        <input type="text" class="form-control" formControlName="empid" maxlength="4">
        <div class="alert alert-danger"> Enter a valid Employee Id </div>
      </label>
    </div>
    <div class="form-group">
      <label>
        First Name:
        <input type="text" class="form-control" name="fname" formControlName="fname">
        <div class="alert alert-danger"> Enter a valid First Name </div>
      </label>
    </div>
    <div class="form-group">
      <label>
        Last Name:
        <input type="text" class="form-control" formControlName="lname">
        <div class="alert alert-danger"> Enter a valid Last Name </div>
      </label>
    </div>
    <div class="form-group">
      <label>
        Gender:
        <input type="text" class="form-control" maxlength="1" formControlName="gender">
        <div class="alert alert-danger"> Enter a valid Gender (M/F) </div>
      </label>
    </div>
    <div class="form-group">
      <label>
        Contact No:
        <input type="text" class="form-control" formControlName="contact" maxlength="10">
        <div class="alert alert-danger"> Enter a valid Contact No. </div>
      </label>
    </div>
    <div class="form-group">
      <label>
        Password:
        <input type="password" class="form-control" formControlName="password" maxlength="16">
        <div class="alert alert-danger"> Enter a valid Password </div>
      </label>
    </div>
    <div class="form-group">
      <label>
        Confirm Password:
        <input type="password" class="form-control" formControlName="cpassword" maxlength="16">
        <div class="alert alert-danger"> Enter a valid Password </div>
      </label>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!profileForm.valid">Submit</button>
  </form>
  <br/>
</div>