<div class="container">
  <h3> Signup Form</h3>
  <br/>
  <form [formGroup]="detailsForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>
        Employee Id:
        <input type="text" class="form-control" formControlName="empid" maxlength="4">

        <div *ngIf="getDetail.empid.invalid && (getDetail.empid.dirty || getDetail.empid.touched)" class="alert alert-danger">
          <div *ngIf="getDetail.empid.errors.required">
            It is required.
          </div>
          <div *ngIf="getDetail.empid.errors.pattern">
            It is a number.
          </div>
          <div *ngIf="getDetail.empid.errors.minlength">
            It must be 4 digits long.
          </div>
        </div>
      </label>
    </div>
    <div class="form-group">
      <label>
        First Name:
        <input type="text" class="form-control" name="fname" formControlName="fname" maxlength="20">

        <div *ngIf="getDetail.fname.invalid && (getDetail.fname.dirty || getDetail.fname.touched)" class="alert alert-danger">
          <div *ngIf="getDetail.fname.errors.required">
            It is required.
          </div>
          <div *ngIf="getDetail.fname.errors.pattern">
            It is a character string.
          </div>

        </div>
      </label>
    </div>
    <div class="form-group">
      <label>
        Last Name:
        <input type="text" class="form-control" formControlName="lname" maxlength="20">

        <div *ngIf="getDetail.lname.invalid && (getDetail.lname.dirty || getDetail.lname.touched)" class="alert alert-danger">
          <div *ngIf="getDetail.lname.errors.required">
            It is required.
          </div>
          <div *ngIf="getDetail.lname.errors.pattern">
            It is an alphabetic string.
          </div>
        </div>
      </label>
    </div>
    <div class="form-group">
      <label>
        Gender:
        <input type="text" class="form-control" maxlength="1" formControlName="gender">

        <div *ngIf="getDetail.gender.invalid && (getDetail.gender.dirty || getDetail.gender.touched)" class="alert alert-danger">
          <div *ngIf="getDetail.gender.errors.required">
            It is required.
          </div>
          <div *ngIf="getDetail.gender.errors.pattern">
            It can be M or F
          </div>
        </div>
      </label>
    </div>
    <div class="form-group">
      <label>
        Contact No:
        <input type="text" class="form-control" formControlName="contact" maxlength="10">

        <div *ngIf="getDetail.contact.invalid && (getDetail.contact.dirty || getDetail.contact.touched)" class="alert alert-danger">
          <div *ngIf="getDetail.contact.errors.required">
            It is required.
          </div>
          <div *ngIf="getDetail.contact.errors.pattern">
            It is a number.
          </div>
          <div *ngIf="getDetail.contact.errors.minlength">
            It must be 10 digits long.
          </div>
        </div>
      </label>
    </div>
    <div class="form-group">
      <label>
        Password:
        <div class="form-control">
          <input type="password" id="passwordId" style="border: none;" formControlName="password" maxlength="16">
          <span class="glyphicon glyphicon-eye-open" (click)='togglePass("passwordId")'></span>
        </div>
        <div *ngIf="getDetail.password.invalid && (getDetail.password.dirty || getDetail.password.touched)" class="alert alert-danger">
          <div *ngIf="getDetail.password.errors.required">
            It is required.
          </div>
          <div *ngIf="getDetail.password.errors.minlength">
            It must be 8 characters long.
          </div>
          <div *ngIf="getDetail.password.errors.pattern">
            It must have atleast one Uppercase, one Lowercase, one Digit and one Special character.
          </div>

        </div>
      </label>
    </div>
    <div class="form-group">
      <label>
        Confirm Password:
        <div class="form-control">
          <input type="password" style="border: none;" id='confirmPasswordId' formControlName="confirmPassword" maxlength="16" (keyup)='checkPass()'>
          <span class="glyphicon glyphicon-eye-open" (click)='togglePass("confirmPasswordId")'></span>
        </div>
        <div *ngIf="getDetail.confirmPassword.invalid && (getDetail.confirmPassword.dirty || getDetail.confirmPassword.touched)"
          class="alert alert-danger">
          It is required.
        </div>
        <div *ngIf="!confrimPass && (getDetail.confirmPassword.dirty || getDetail.confirmPassword.touched)" class="alert alert-danger">
          Password doesn't match.
        </div>
      </label>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="(!detailsForm.valid) || (!confrimPass)">Submit</button>
  </form>
  <br/>
</div>
